<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>Flutter App.</p>
  <p>FlutterBot Profit Tracker monitors your betting bot's real-time performance, tracking profits and open stakes across Normal, Snowball, and InPlay strategies. Data refreshes automatically every 10 seconds.</p>
</ion-content>
